* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

.caja{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.formulario{
    display: flex;
    flex-direction: column;
    width: 30%;
}

.interno{
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

.boton{
    padding:0px;
    border: none;
    border-radius: 4px;
    color: white;
    font-weight: 950;
    background: #2a0845; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #6441A5, #2a0845); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right,  #6441A5, #2a0845);
}
.boton:hover{
    cursor: pointer;
    transform: scale(1.02);
    background-color: rgb(250, 12, 12);
}

.inputs{
    width: 100%;
    height: 35px;
    border-radius: 4px;
    border: solid 1px grey;
    padding-left: 8px;
}


.enlace {
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    font-size: 18px;
    margin:10px 0 0 0;
}

.h1{
    font-weight: bold;
    font-size: 45px;
    color: rgb(68, 67, 67);
}


.p{ 
    display: inline-block;
    font-weight: 900;
    color: rgb(68, 67, 67);
}

.subrayado:hover{
    color:brown;
}

.label{
    display: flex;
    flex-direction: column;
    padding-left: 0px;
}
.label>span{
    font-weight:500;
    font-size: 16px;
}

.main{
    overflow-x: scroll;
    overflow-y: scroll;
    height: 100vh;
}

.navbar{
    display: flex;
    justify-content: space-between;
    /* background-color: #091353; */
    height: 3rem;
    padding: 0.5rem;
    background: #2a0845; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #6441A5, #2a0845); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right,  #6441A5, #2a0845);
}
.inputnav{
    padding-left: 8px;
    border: none;
    border-radius: 10px;
    height: 30px;
    width: 15rem; 
}

.sidebar{
    display: flex;
    flex-direction: column;
    width: 15rem;
    gap: 10px;
    padding: 1rem;
    background: #6441A5;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2a0845, #6441A5);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2a0845, #6441A5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.botonRuta{
    border: none;
    background-color: rgba(255, 255, 255,0.25);
    color: white;
    font-weight: 800;
    border-radius: 3px;
    padding: 0.125rem;
    width: 95%;
    /*display: flex;
    align-items: flex-start;*/
}
.botonRuta:hover{
    cursor: pointer;
    transform: scale(1.02);
}

.layout{
    display: flex;
    justify-content: space-between;
    width: 100vw;
    height: 100vh;
 
}
.Outlet{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow-y: hidden;
}

.tabla {
    width: 100%;
    margin: 10px;
  }
  
.tabla td,
.tabla th {
    padding: 8px;
    border: 1px solid #ddd;
}
  
.tabla th {
    background-color: rgba(105, 47, 183,0.75);
    color: white;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
}
  
.tabla tr:nth-child(even) {
    background-color: #f2f2f2;
}
  
.tabla tr:hover {
    background-color: #ddd;
}

.div1{
    display: flex;
    flex-direction: column;
}

.div2{
    display: flex;
    width: 100%;
    height: 100%;
    height: 100vh;
}
.div2>div{
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}

.icon{
    font-size: 40px;
    padding: 5px;
    color: rgb(68, 67, 67);
}
.icon:hover{
    color: rgb(85, 85, 252);
}

.iconEdit{
    width: 100%;
    display: flex;
    justify-content: center;
}

.iconEdit svg{
    color: rgb(68, 67, 67);
}

.iconEdit svg:hover{
    color: rgb(85, 85, 252);
}

.proyectoEst{
    display: flex;
    flex-wrap: wrap;
    padding:20px;
}

.btn{
    height:30px;
    padding:10px;
    display: flex;
    align-items: center;
    align-self: flex-end;
    
}

.tarjeta{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding:10px;
    background-color:#dcd6f7;
    border-radius:5px;
    width:80%;
    margin:0 10px 20px 0;
    line-height:30px;
}
.info{
    width:70%;
}
.info p span{
    font-weight: bolder;
}
.btns{
    width:30%;
    display: flex;
    align-self: flex-end;
    justify-content: space-around;
}
.btn-inscripcion,.btn-vermas{
    padding:5px 10px;
    font-size:20px;
    border-radius:5px;
    background-color:#9D84B7;
}

.only{
    justify-content: flex-end ;
}



.fas{
    margin-left:10px ;
    width:10px;
}

.fa-user-edit{
    color:rgba(105, 47, 183,0.75);
}


.fa-trash-alt:hover{
    color:#CD1818;
}

.botAuth{
    background-color: rgb(32, 248, 32);
    border: none;
    border-radius: 5px;
    width: 90%;
    font-weight: 700;
    color: rgb(66, 65, 65);
}
.botAuth:hover{
    cursor: pointer;
    background-color: green;
    color: black;
}



.overlay{
    width:100%;
    height:100%;
    background-color:rgba(0, 0,0,.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedorModal{
    width:500px;
    min-height:100px;
    background:#fff;
    position:relative;
    border-radius:5px;
    box-shadow:rgba(100, 100, 111, .5) 8px 7px 29px 0px;
    padding:20px
}

.headerModal{
    display:flex;
    align-items:center;
    justify-content: space-between;
    margin-bottom:20px;
    padding-bottom:20px;
    border-bottom:1px solid #E8E8E8;
}

.headerModal h3{
    font-weight:500;
    font-size: 16px;
    color:#1766DC
}

.botonCerrarM{
    position: absolute;
    right:20px;
    top:15px;
    width:25px;
    height:25px;
    border:none;
    border-radius:5px;
    background:none;
    cursor:pointer;
    color:#1766DC;
}

.botonCerrarM svg{
    width:100%;
    height: 100%;
}

.botonCerrarM:hover{
    background-color: #f2f2f2;
}

.contenedorAU{
    width:100%;
    height:100%;
    background-color:#222;
    display: flex;
    justify-content: center;
    align-items: center;
}

.actualizacionUA,
.contenedorPerfil{
    width:500px;
    min-height:100px;
    flex-wrap: wrap;
    background:#fff;
    position:relative;
    border-radius:5px;
    box-shadow:rgba(100, 100, 111, .5) 8px 7px 29px 0px;
    padding:20px
}

.headerUA{
    display:flex;
    align-items:center;
    justify-content: space-between;
    margin-bottom:20px;
    padding-bottom:20px;
    border-bottom:1px solid #E8E8E8;
}

.headerUA h3{
    font-weight:500;
    font-size: 16px;
    color:#1766DC
}

.formularioAU{
    margin-top:10px;
    width:100%;
    display: flex;
    flex-direction: column;
    
}

.formularioAU label{
    font-weight:500;
    font-size: 16px;
    margin-bottom:10px;
}

.formularioAU select{
    width:110px;
    padding:10px;
    border-radius:5px;
    margin-bottom:10px;
}

.formularioAU input{
    align-self: center;
    width:100px;
    font-size:20px;
    background: none;
    border-radius:5px;
    margin:20px;
    border:2px solid #6441A5;
}

.formularioAU input:hover{
    background-color: #6441A5;
    color:#f2f2f2
}

.perfil{
    width: 100%;
    height:100%;
    background-color: #222;
    display: flex;
    justify-content: center;
    align-items: center;
}

.headerPerfil{
    display: flex;
    flex-direction: column;
    border-bottom:2px solid #E8E8E8;
}
.contenedorPerfil .picture{
    width:100px;
    height:100px;
    margin-bottom:20px;
}
.contenedorPerfil .picture img{
    width:100%;
    height:100%;
}

.bodyPerfil{
    display: flex;
    flex-direction: column;
}
.bodyPerfil button{
    width:100px;
    align-self: flex-end;
    background:none;
    border-radius:5px;
    padding:10px;
    border:2px solid #6441A5;

}

.bodyPerfil button:hover{
    background-color:#6441A5;
    color:#f2f2f2;
    cursor: pointer;
    transform: scale(1.05);
    transition: transform ease 2s ;
}

.formularioEp{
    display: flex;
    flex-direction: column;
}

.inputEp{
    align-self: center;
    width:100px;
    font-size:20px;
    background: none;
    border-radius:5px;
    margin:20px;
    border:2px solid #6441A5;
}

.inputEp:hover{
    background-color:#6441A5;
    color:#f2f2f2;
    cursor: pointer;
    transform: scale(1.05);
    transition: transform ease 2s ;
}